@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body {
    /* background: url(images/david-pisnoy-RiGGe25WUw4-unsplash.jpg); */
    /* background-color: rgb(30, 255, 0); */
    background-size: contain;
    box-sizing: content-box;
    text-align: center;
    margin: 0rem;
    padding: 0rem;
    font-family: Mulish, Arial, Helvetica, sans-serif;
    background: url("images/cade-roberts-EpIUbeFrqwQ-unsplash.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.main {
    text-align: center;
    align-content: center;
    justify-content: center;
}

h1,h2 {
    color: white;
}

textarea {
    padding: 1rem;
    width: 80vw;
    height: 15vh;
    display: block;
    margin: 2rem auto;
    border-radius: 1rem;
    display: block;
    outline: none;
    border: none;
    background-color: rgba(122, 58, 58, 0.5);
    color: rgb(9, 255, 0);
}

::-webkit-input-placeholder { 
    color: rgb(9, 255, 0);
  }

.btn-translate {
    position: relative;
    display: block;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #000000;
    border: solid 1px transparent;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: all .1s ease-in-out;
    border: none;
    margin: 2rem auto;
}

.btn-translate:hover {
    background-color: rgba(122, 58, 58, 0.5);
    border-color: rgb(30, 255, 0);
    transition: all .1s ease-in-out;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.text-output {
    padding: 1rem;
    width: 80vw;
    height: 15vh;
    display: block;
    border-radius: 1rem;
    border-color: transparent;
    background-color:rgba(122, 58, 58, 0.5);
    margin: 2rem auto;
}




/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 0.9rem 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}

.footer a {
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
}

.footer-social-links {
    padding-inline-start: 0px;

}

.footer-social-icon {
    display: inline;
}

.footer-social-icon-image {
    width: 10vh;
    height: 15vh;
    text-align: center;
    position: center;
}

.footer-header {
    font-size: 1.4rem;
    font-weight: bolder;
    color: rgb(255, 255, 255); "
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.list-item-inline {
    padding: 0rem 0.5rem;
    display: inline;
}
